.div-simple{
    font-size: large;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
    color:darkgrey;
}
.div-form{
    font-size:small;
    text-align: right;
    padding: 30px;
    margin-left: 33%;
    width: 30%;
    height: 40%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(4, 4, 4);
    background-image: url(../../assets/images/background-div.jpg);
    .label{
        margin-right: 15px;
    }
    .mat-button{
        margin: 20px;
    }
}
.form-simple{
    padding-top: 25%;
    font-size: larger;
    text-align: center;
}
.div-label{
    padding: 10px;
    text-align: right;
    margin-right: 20%;

}