.div-simple{
    font-size: large;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
    color:darkgrey;
}
.div-form{
    font-size: medium;
    text-align: right;
    padding: 30px;
    margin-left: 33%;
    width: 30%;
    height: 40%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 29, 150);
    .label{
        margin-right: 15px;
    }
    .button{
        margin: 20px;
    }
}
.form-simple{
    padding-top: 25%;
    font-size: larger;
    text-align: center;
}