.mat-card{
    background-color: white;
    color:black;
    width: 400px;
    height: 100px;
    margin-left: 20%;
    margin-top:20px;
}
.mat-tab-group{
    margin-left: 20%;
    width: 80%;
}
.mat-tab-label, .mat-tab-link{
    color:black;
    margin-right:40px
}

.sci-card{
    background-color: aquamarine;
}
.lit-card{
    background-color: rgb(255, 210, 98);
}
.tec-card{
    background-color: rgb(101, 139, 139);
}
.hum-card{
    background-color: burlywood;
}
.art-card{
    background-image: url(../../assets/images/background-art.jpg);
}
.fic-card{
    background-color:blueviolet;
}