<mat-tab-group>
    <mat-tab label="Primer Semestre">
        <div class="form-group">
            <input courseType="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filterSelection">
        </div>
        <div *ngFor="let course of myCourses | filter: filterSelection">
            <div *ngIf="course.semester==1"> 
                <mat-card [ngClass]="{
                    'sci-card': course.courseType =='Sci',
                    'lit-card': course.courseType == 'Lit',
                    'tec-card': course.courseType == 'Tec',
                    'hum-card': course.courseType == 'Hum',
                    'art-card': course.courseType == 'Art',
                    'fic-card': course.courseType == 'Fic'
                }">
                    <mat-card-title>
                        {{course.courseName}}
                    </mat-card-title>
                    <mat-card-content>
                        <div>
                            <p>Tipo de materia: {{course.courseType}}</p>
                            <p>Semestre: {{course.semester}}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Segundo Semestre">
        <div class="form-group">
            <input courseType="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filterSelection">
        </div>
        <div *ngFor="let course of myCourses | filter: filterSelection">
            <div *ngIf="course.semester==2"> 
                <mat-card [ngClass]="{
                    'sci-card': course.courseType =='Sci',
                    'lit-card': course.courseType == 'Lit',
                    'tec-card': course.courseType == 'Tec',
                    'hum-card': course.courseType == 'Hum',
                    'art-card': course.courseType == 'Art',
                    'fic-card': course.courseType == 'Fic'
                }">
                    <mat-card-title>
                        {{course.courseName}}
                    </mat-card-title>
                    <mat-card-content>
                        <div>
                            <p>Tipo de materia: {{course.courseType}}</p>
                            <p>Semestre: {{course.semester}}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Tercer Semestre">
        <div class="form-group">
            <input courseType="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filterSelection">
        </div>
        <div *ngFor="let course of myCourses | filter: filterSelection">
            <div *ngIf="course.semester==3"> 
                <mat-card [ngClass]="{
                    'sci-card': course.courseType =='Sci',
                    'lit-card': course.courseType == 'Lit',
                    'tec-card': course.courseType == 'Tec',
                    'hum-card': course.courseType == 'Hum',
                    'art-card': course.courseType == 'Art',
                    'fic-card': course.courseType == 'Fic'
                }">
                    <mat-card-title>
                        {{course.courseName}}
                    </mat-card-title>
                    <mat-card-content>
                        <div>
                            <p>Tipo de materia: {{course.courseType}}</p>
                            <p>Semestre: {{course.semester}}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Cuarto Semestre">
        <div class="form-group">
            <input courseType="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filterSelection">
        </div>
        <div *ngFor="let course of myCourses | filter: filterSelection">
            <div *ngIf="course.semester==4"> 
                <mat-card [ngClass]="{
                    'sci-card': course.courseType =='Sci',
                    'lit-card': course.courseType == 'Lit',
                    'tec-card': course.courseType == 'Tec',
                    'hum-card': course.courseType == 'Hum',
                    'art-card': course.courseType == 'Art',
                    'fic-card': course.courseType == 'Fic'
                }">
                    <mat-card-title>
                        {{course.courseName}}
                    </mat-card-title>
                    <mat-card-content>
                        <div>
                            <p>Tipo de materia: {{course.courseType}}</p>
                            <p>Semestre: {{course.semester}}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
  </mat-tab-group>
