<header class="header-welcome">
    <button mat-button  type="button" routerLink="/log-in" (click)="cerrarSesion()">
        <mat-icon>
            logout
        </mat-icon>
        Logout
    </button>
    <button mat-button type="button" routerLink="/courses">
        <mat-icon>menu</mat-icon>
        Matriculación
    </button>
    <p class="p-user">¡Hola {{myUser.username}}!</p> 
</header>
<div class = "div-main">
    <p class = "p-title">Tabla de cursos que no parece una tabla</p>
</div>

<app-course-card></app-course-card>

